<meta charset="utf-8">
<title>EJS/Express.js Testing</title>

<link rel="stylesheet" href=""/>
<style>
    body{
      padding-top: 50px;
    }
    #footer{
      font-size: 1em;
      background-color: #ccc;
      color: blue;
      text-align: center;
    }
    input{
     margin-left: 10px;
     width: 250px;
    }
    #date{}

    #header{
      margin-left: 100px;
      margin-right: 100px;
      padding: 10px 0px 10px 0px;
      font-size: 2.5em;
      width: auto;
      color: #0e0;
      background-color: #000;
      text-align: center;
      border: 10px inset #ccf;
      border-radius: 10px;
    }
    .main{
      margin-top: 30px;
      height: 60%;
      text-align: center;
      font-size: 2em;
      color: green;
    }
    #a{
      margin-top: 30px;
      font-size: 1em;
    }
    #button{
      height: 2em;
      background-color: blue;
      border-radius: 10px;
      color: #0f0;
    }
    @media only screen and ( max-device-width: 450px ){
      #header{
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px 0px 10px 0px;
        font-size: 1em;
        width: auto;
        color: #0e0;
        background-color: #000;
        text-align: center;
        border: 10px inset #ccf;
        border-radius: 10px;
      }
      .main{
        margin-top: 20px;
        text-align: center;
        font-size: 1.5em;
        color: green;
      }
      button{
        margin-top: 30px;
        height: 2em;
        background-color: #00f;
        border-radius: 10px;
        color: #fff;
      }
    }
</style>