<meta charset="utf-8">
<title>EJS/Express.js Testing</title>

<link rel="stylesheet" href=""/>
<style>
    body{
      padding-top: 50px;
    }
    #footer{
      font-size: 1em;
      color: blue;
      text-align: center;
    }
    #date{}
    #header{
      font-size: 3em;
      color: red;
      text-align: center
    }
    .main{
      text-align: center;
      font-size: 1.5em;
      color: green;
    }
</style>