<!-- the response link should be a unique id ex. (loclahost:3000/?123456789)-->
<!-- from there the server will check to see if the request to index has a id attached -->
<!-- if yes, then the page will look in the db for a corresponding id, if  found the page should grab the corresponding link and redirect. -->
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="main">
        <p>Checking Address</p>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>