<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="main">
        <h1>Working!!!</h1>
        <p>Yay!!! it's working!!!</p>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>