<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="main">
        <form name="mainForm" id="mainForm" method="get" action="/show:url">
            URL: <input name="url" type="text" placeholder="ex. (https://www.coderealms.com)"/>
            <button id="button" name="main" type="submit" value="check">Submit URL</button>
        </form>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>