<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="main">
        <% let b = true %>
        <% for (var i = 0; i < lnk.length; i++) { %>
          <% if(lnk[i] == qwry) { %>
            <h3><%- a[i] -%></h3>
            <% b = false %>
          <% } %>
        <% } %>
        <% if(b) { %>
          <p>Redirecting</p>
        <% } %>
        <br/><a id="a" href="http://localhost:3000">Go Back</a>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>