<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="main">
        <% let b = 0 %>
        <% for (var i = 0; i < a.length; i++) { %>
          <% if(a[i] == qwry) { %>
            <p><%- a[i] -%></p>
            <%- b++ -%>
          <% } %>
        <% } %>
        <% if(b == 0) { %>
          <p>None found</p>
        <% } %>
        <br/><a id="a" href="http://localhost:3000">Go Back</a>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>